.flu-body {
  height: inherit;
  overflow: auto;
  overflow-x: hidden;
}

.full-screen {
  //此处原本是使用body,html的，但是这样之后无法监听window.scrollTop()方法;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.full-width {
  display: inline-block;
  width: 100%;
}

//容器样式
.container {
  position: relative;
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.content-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}

//清楚浮动样式
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}

/*这是针对于IE6的，因为IE6不支持:after伪类，
这个神奇的zoom:1让IE6的元素可以清除浮动来包裹内部元素。*/
.clearfix {
  *zoom: 1;
}

.fixed {
  position: fixed;
  z-index: 9999;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.btn-ghost {
  display: inline-block;
  padding: 15px 40px;
  color: @text-btn;
  text-align: center;
  border: 1px solid @border-color;
  box-sizing: border-box;
  transition: all .3s ease;
}

.btn-ghost:hover {
  background-color: @mainColor;
  border: 1px solid @mainColor;
  color: #fff;
}

//块背景色
.block-bg {
  background: @gray-color;
}

//双下划线
.double-underline {
  position: relative;
  width: 100%;
  top: -25px;
  border: 0;
  border-bottom: 4px double @border-color;
}

// 卡片样式，一排四个
.card-list-quarter {
  overflow: hidden;
  width: 102%;
  margin-bottom: 35px;
  box-shadow: 0 0 0 #fff;
  .list-item {
    float: left;
    width: 23%;
    margin-right: 2%;
    margin-bottom: 35px;
    box-sizing: border-box;
    &:hover {
      box-shadow: 0 0 3px #aaa;
    }
  }
}

//子页面相同的容器样式
.pages-container {
  padding-top: 100px;
  padding-bottom: 170px;
}

.white-space {
  margin: 20px;
}

//子页面相同的头部banner样式
.top-banner {
  position: relative;
  height: 580px;
  width: 100%;
  background: no-repeat url('../../dist/img/index/iphone_content3.png') center top;
  background-size: 100% auto;
  .banner-content-wrap {
    width: 580px;
    height: 310px;
    margin: auto auto;
    padding: 5px;
    background-color: #fff;
    overflow: hidden;
    .content-box {
      height: 100%;
      border: 1px solid @grayColor;
      h2 {
        color: @text-title;
        font-weight: normal;
        font-size: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
      }
      p {
        color: @text-dec;
        line-height: 1.6;
        font-size: 16px;
        margin-bottom: 25px;
      }
    }
    //查看详情等鼠标点击后交互样式
    .banner-slide-down {
      position: absolute;
      top: -100%;
      left: 5px;
      width: 578px;
      height: 310px;
      border: 1px solid @border-color;
      background-color: @gray-color;
      transition: top .3s ease;
      p {
        margin-top: 50px;
        margin-bottom: 40px;
      }
      img {
        width: 140px;
      }
    }
  }
}

//子页面相同的提示标题样式
.subpage-title-wrap {
  padding-bottom: 50px;
}

.subpage-title {
  display: inline-block;
  position: relative;
  z-index: 10;
  padding-right: 90px;
  padding-left: 50px;
  font-size: 24px;
  background: @gray-color 80% 50% no-repeat;
}

@media screen and  (max-width: 1036px) {
  div.top-banner {
    background-size: auto 100%;
  }
}


//导航条样式
.nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  padding: 20px 20px 0;
  box-sizing: border-box;
  transition: all .3s ease;
  .nav-bar {
    background-color: transparent;
    transition: background-color .3s ease
  }
  .nav-brand {
    float: left;
    font-size: 0;
    img {
      padding: 15px 10px;
    }
  }
  .nav-menu {
    float: right;
    li {
      float: left;
      a {
        display: inline-block;
        padding-right: 30px;
        padding-left: 30px;
        font-size: 14px;
        line-height: 80px;
        -webkit-transition: color .3s ease;
        transition: color .3s ease;
      }
      a:hover {
        color: @mainColor;
      }
    }
    .active {
      color: @active-color;
    }
    li.bar {
      position: relative;
      top: 32px;
      width: 1px;
      height: 15px;
      margin-right: 45px;
      margin-left: 35px;
      background: #d7d5d2;
      cursor: initial;
    }
    .menu-icon {
      margin-right: 15px;
      margin-left: 15px;
    }
    .menu-icon-wrap {
      position: relative;
      a {
        padding:  0 5px;
      }
      .menu-icon-white {
        display: inline-block;
      }
      .menu-icon-change {
        display: none;
      }
    }
    .slide-erweima-wrap {
        margin-right: 60px;
    }
    .change-menu-icon {
      .menu-icon-white {
        display: none;
      }
      .menu-icon-change {
        display: inline-block;
      }
    }
  }
}

//隐藏导航条
.nav.nav-hidden {

  top: -103px;
}

.nav.nav-change-color {
  padding-top: 0;
  .nav-bar {
    background-color: #fff;
    box-shadow: 0 5px 8px -5px #aaa;
  }
}

//下拉二维码样式
.slide-erweima {
  display: none;
  position: absolute;
  top: 55px;
  right: -10px;
  img {
    width: 120px;
    border: 1px solid @gift-card-bg;
  }
}

//回到顶部样式
.back-to-top-wrap {
  position: fixed;
  z-index: 99;
  bottom: 40px;
  width: 100%;
  .container {
    padding-right: 20px;
  }
  #back-to-top {
    display: none;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    background: @arrow-bg url('../../dist/img/index/arrow_prev_white.png') no-repeat top 15px center;
    background-size: 75% auto;
    transition: background-color .3s ease;
    img {
      display: inline-block;
      line-height: 50px;
    }
  }
  #back-to-top:hover {
    background-color: @active-color;
  }
}

//底部
.footer {
  padding-top: 40px;
  height: 100px;
  background-color: @footer-bg;
  p {
    color: @gray-color;
  }
}