

//菜品频道样式
.dishes-channel {
  .top-banner {
    background-image: url('../../dist/img/index/iphone_content3.png');
  }
}

//菜品分类标题样式
.dishes-classify {
  .title-icon {
    background-image: url('../../dist/img/index/btn-sort-down-lg.png');
  }
}

//分类列表选项卡按钮样式
.classfity-tabs {
  padding-top: 50px;
  .tabs-item {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    .tab-icon {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin: 0 5px 5px;
      background-color: #ccc;
    }
    .tab-icon:hover {
    }
    .tab-icon-1 {
      background: url('../../dist/img/dishes/icon_western.png') no-repeat center center;
    }
    .tab-icon-2 {
      background: url('../../dist/img/dishes/icon_chinese_food.png') no-repeat center center;
    }
    .tab-icon-3 {
      background: url('../../dist/img/dishes/icon_cold_dish.png') no-repeat center center;
    }
    .tab-icon-4 {
      background: url('../../dist/img/dishes/icon_cake.png') no-repeat center center;
    }
    .tab-icon-5 {
      background: url('../../dist/img/dishes/icon_drink.png') no-repeat center center;
    }
  }
  li.active {
    .tab-icon {

    }
  }
}

//菜品卡片列表样式
.dishes-card-list {
  .list-item {
    box-sizing: border-box;
    .dishes-card {
      display: block;
      position: relative;
      overflow: hidden;
    }
    .dishes-card:hover .hover-card {
      top: 0;
    }
  }
  .static-card {
    padding: 80px 10px 40px;
    background: @dshed-card-bg url('../../dist/img/index/card_border.png') no-repeat center center;
    background-size: 100% 100%;
    .dish-title {
      margin: 0 0 10px;
      color: @text-color;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .dish-brief {
      margin: 0 0 20px;
      color: @text-dec;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .dish-img {
      margin-bottom: 10px;
    }
    .dish-price {
      color: @text-dec;
      .price-number {
        font-size: 25px;
        color: @active-color;
      }
    }
  }
  .hover-card {
    position: absolute;
    top: 100%;
    z-index: 99;
    width: 100%;
    padding: 80px 0 40px;
    background: @dshed-card-bg url('../../dist/img/dishes/dishes-img1.png') no-repeat center top;
    background-size:auto 100%;
    transition: all .4s ease;
    .dish-logo {
      height: 35px;
      margin-bottom: 40px;
    }
    .dish-erweima-text {
      margin-bottom: 0;
    }
    .dish-erweima {
      margin-bottom: 28px;
    }
  }
}

//菜品详情页面样式
.dish-details {
  background: #fff;
}