
.dynamic-top {
  overflow: hidden;
  position: relative;
  .top-banner {
    background-image: url('../../dist/img/dynamic/dynamic_banner.jpg');
    background-size: auto 100%;
  }
}

.dynamic-list {
  margin-top: 50px;
  color: @text-color;
  border: 1px solid @border-color;
  background-color: #fff;
  .list-item {
    position: relative;
    & + .list-item {
      border-top: 1px solid @border-color;
    }
    .dynamic-link {
      display: block;
      padding: 15px 150px 15px 35px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      background: #fff url('../../dist/img/dynamic/icon_arrow_right.png') no-repeat right 25px center;
      transition: background-color .3s ease;
    }
    .dynamic-link:hover {
      background-color: @gray-color;
    }
    .dynamic-time {
      position: absolute;
      top: 18px;
      right: 50px;
      color: @text-dec;
    }
  }
}

.dynamic-model {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 999;
  width: 100%;
  transition: all .5s ease;
  .model-mask {
    height: 580px;
    background-color: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    cursor: pointer;
  }
  .model-close {
    position: absolute;
    top: 500px;
    right: 40px;
    z-index: 1000;
    width: 40px;

    background: #fff;
    border-radius: 26px;
    border: 2px solid #fff;

    cursor: pointer;
  }
  .model-content {
    height: 100%;
    padding: 50px 0;
    background-color: #fff;
    p {
      margin-bottom: 20px;
      font-size: 16px;
      text-indent: 2em;
      line-height: 1.6;
    }
  }
}

