//礼物页顶部banner
.gift-top {
  .top-banner {
    background-image: url(../../dist/img/gift/gift_top_banner.png);
    background-position: right 100%;
    background-color: @gift-card-bg;
    background-size: auto 100%;

  }
}

//礼物页标题icon
.gift-sub-title {
  .title-icon {
    background-image: url('../../dist/img/gift/icon_gift.png');
  }
}

//礼物列表顶部副banner
.gift-sub-banner {
  margin-bottom: 40px;
  border: 1px solid #ccc;
  font-size: 0;
  .gift-card1, .gift-card2 {
    height: 400px;
    float: left;
  }
  .gift-card1 {
    width: 55%;
    background: @dshed-card-bg url('../../dist/img/gift/gift_banner1.png') no-repeat center center;
  }
  .gift-card2 {
    width: 45%;
    background: url('../../dist/img/gift/gift_banner2.png') no-repeat center center;
    background-size: auto 100%;
  }
}

//礼物卡片列表
.gift-card-list {
  .gift-card {
    font-size: 0;
    img {
      width: 100%;
      min-height: 400px;
      max-height: 420px;
    }
  }
}
