/*导航点样式*/
.pagination {
  right: 40px;
  top: 50%;
  margin-top: -74px;
  position: absolute;
  text-align: center;
  z-index: 1002;
  .pagination-bullet {
    display: block;
    margin: 15px 0;
    width: 5px;
    height: 5px;
    border: 1px solid @mainTextColor;
    border-radius: 10px;
    background-color: @mainTextColor;
    cursor: pointer;
  }
  .pagination-bullet-active {
    border: 1px solid @mainTextColor;
    border-radius: 10px;
    background-color: transparent;
  }
}

//导航箭头样式
.btn-prev, .btn-next {
  z-index: 1001;
  position: fixed;
  left: 50%;
  right: 50%;
  background-position: center;
  background-repeat: no-repeat !important;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  background-image: url("../../dist/img/index/arrow_next.png");
  transition: background .2s;
  cursor: pointer;
}

.btn-prev {
  top: 55px;
  background-image: url("../../dist/img/index/arrow_prev.png");
}

.btn-next {
  bottom: 55px;
  top: auto;
}

.btn-next.transparent {
  background-image: url("../../dist/img/index/arrow_next_white.png");
}

//子页面样式
.page {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.page.page-active {
  display: block;
}

//子页面布局样式
.section-left, .section-right, .section-center {
  overflow: hidden;
  top: 20px;
  bottom: 20px;
  position: absolute;
}

.section-left {
  right: 50%;
  left: 20px;
}

.section-right {
  left: 50%;
  right: 20px;
}

.section-center {
  left: 20px;
  right: 20px;
}

.section-number {
  margin-top: 0;
  font-size: 16px;
}

.section-title {
  color: @mainTextColor;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.img-placeholder {
  height: 90px;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #e4e1dc;
  img {
    height: 100%;
  }
}

.section-text {
  margin-top: 0;
  margin-bottom: 10px;
  color: @subTextColor;

}

.img-erweima-wrap {
  display: inline-block;
  padding: 10px;
  border: 2px solid #dadada;
  .img-erweima {
    min-height: 110px;
  }
}

.contact-info {
  font-size: 20px;
  text-align: left;
  li {
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e6e1dd;
    white-space: nowrap;
    .contact-icon {
      margin-right: 20px;
    }
  }

}

.center-block {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.full-center-size {
  width: 320px;
  height: 278px;
  text-align: center;
  color: #8a8581;
  font-size: 15px;
  line-height: 1.6;
  img {
    width: 100%;
  }
}



.phone-frame {
  background-image: url("../../dist/img/index/iphone.png");
  background-size: 100% auto;
  width: 312px;
  height: 646px;
  z-index: 5;
}

.phone-frame-inner {
  width: 272px;
  left: 21px;
  height: 484px;
  top: 74px;
  overflow: hidden;
  position: absolute;
  img {
    width: 100%;
  }
}

.text-box {
  width: 470px;
  height: 470px;
  padding: 10px;
  background-color: #fff;
  margin: auto;
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.text-box > div {
  border: 1px solid #e5e1dc;
  width: 370px;
  min-height: 348px;
  max-height: 348px;
  padding: 50px 50px 70px;
  color: @mainTextColor;
  line-height: 1.6;
  text-align: center;
}


.page2 .section-right {
  -ms-transition: background 1s;
  -webkit-transition: background 1s;
  transition: background 1s;
}

#page0-bg {
  background: url("../../dist/img/index/index_bg0.png") no-repeat center;
  background-size: 1920px 1127px;
  height: 100%;
}

#page1-left1 {
  background: url("../../dist/img/index/index_bg1.png") no-repeat center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

#page2-left1 {
  background: url("../../dist/img/index/index_bg2.png") no-repeat center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

#page3-left1 {
  background: url("../../dist/img/index/index_bg5.png") no-repeat center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.img-title-wrap {
  width: 470px;
  height: 640px;
}

.img-title {
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
}

.img-title img {
  width: 100%;
}

.text-content1,
.text-content2,
.text-content3 {
  position: relative;
  text-align: justify;
  padding-left: 20px;
  margin-bottom: 40px;
}

.text-content1 {
  left: 20px;
  font-size: 16px;
  color: @subTextColor;
}

.text-content2 {
  left: 50px;
  font-size: 20px;
  color: @mainTextColor;
}

.text-content3 {
  left: 30px;
  font-size: 16px;
  color: @subTextColor;
}

.text-content1::before,
.text-content2::before,
.text-content3::before {
  content: '"';
  position: absolute;
  top: -10px;
  left: -30px;
  font-size: 80px;
  font-family: 'Microsoft Yahei', '微软雅黑';
}

#footer > hr {
  border-top-color: #666;
  margin-top: 60px;
}

.footer-top {
  text-align: center;
  position: relative;
  margin: auto;
  margin-top: 90px;
}

.footer-bottom {
  text-align: center;
  position: relative;
  margin: auto;
}

/* IPAD */
@media (max-height: 650px) {
  .section-right > *, .text-box, .btn-prev, .btn-next, #footer > * {
    zoom: 0.6;
  }
}

@media (max-height: 830px) and (min-height: 650px) {
  .section-right > *, .text-box, .btn-prev, .btn-next, #footer > * {
    zoom: .75;
  }
}

@media (max-height: 730px) {
  .page0 .full-center-size {
    zoom: 0.6
  }

  #page0-bg, #page3_ani2_1, {
    background-size: 1323px 744px;
  }
}

@media (max-height: 910px) and (min-height: 730px) {
  .page0 .full-center-size {
    zoom: 0.75
  }

  #page0-bg, #page3_ani2_1 {
    background-size: 1920px 1080px;
  }
}

@media (max-width: 1024px) {
  .frame .top .right {
    left: 550px;
  }
}